{
    "CI": false,
    "HTTPs": false,
    "GitHub": {
        "API": "https://api.github.com/",
        "User": "segmentational",
        "Token": "..."
    },
    "GitLab": {
        "API": "/api/v4/",
        "Host": "gitlab.cloud-technology.io",
        "Projects": "https://gitlab.cloud-technology.io/api/v4/projects",
        "User": "...",
        "Token": "..."
    },
    "Mongo": {
        "URI": "mongodb+srv://nexus-database-cluster.3du62.mongodb.net",
        "Protocol": "mongodb+srv",
        "Host": "nexus-database-cluster.3du62.mongodb.net",
        "Port": 27017,
        "Username": "Administrator",
        "Password": "..."
    },
    "TLS": {
        "Key": "configuration/Development.key",
        "PFX": "configuration/Development.pfx",
        "Certificate": "configuration/Development.crt",
        "Passphrase": "Development"
    },
    "Server": "Nexus-API",
    "Environment": "Development"
}
