{
    "CI": false,
    "HTTPs": false,
    "GitHub": {
        "API": "https://api.github.com/",
        "User": "segmentational",
        "Token": "..."
    },
    "GitLab": {
        "API": "/api/v4/",
        "Host": "gitlab.cloud-technology.io",
        "Projects": "https://gitlab.cloud-technology.io/api/v4/projects",
        "User": "...",
        "Token": "..."
    },
    "Mongo": {
        "URI": "mongodb+srv://nexus-database-cluster.3du62.mongodb.net",
        "Protocol": "mongodb+srv",
        "Host": "nexus-database-cluster.3du62.mongodb.net",
        "Port": 27017,
        "Username": "Administrator",
        "Password": "..."
    },
    "Document-DB": {
        "Protocol": "mongodb",
        "Username": "document-db-user",
        "Password": "...",
        "Host": "development-cluster.cluster-abc-xyz.us-east-2.docdb.amazonaws.com",
        "Port": 27017,
        "SSL": true,
        "Allow-Invalid-Hostnames": true,
        "Replica-Set": "rs0",
        "Read-Preference":"secondaryPreferred",
        "Connection-Timeout": 10000,
        "Authorization-Mechanism": "SCRAM-SHA-1",
        "SSH": true,
        "SSH-Hostname": "bastion.organization.io",
        "SSH-Key-Path": "/Users/username/.ssh/bastion.pem",
        "SSH-Key-Passphrase": null
    },
    "TLS": {
        "Key": "configuration/Development.key",
        "PFX": "configuration/Development.pfx",
        "Certificate": "configuration/Development.crt",
        "Passphrase": "Development"
    },
    "Server": "Nexus-API",
    "Environment": "Development"
}
