!.gitkeep

!distribution

!terraform.state.json

!auto.tfvars
!**/auto.tfvars
!auto.tfvars.json
!**/auto.tfvars.json

.idea
.vscode
.eclipse

plan

cdk.tf.json

.terraform
.terraform/*
.terraform/**

*/.terraform/*
**/.terraform/**

.tfstate
*.tfstate
**/*.tfstate

*.tfstate/*
**/*.tfstate/

.terraform.lock.hcl

.DS_Store
node_modules

*.backup

.tfvars
**/.tfvars
.tfvars.json
**/.tfvars.json
cdktf.tfvars.json
**/cdktf.tfvars.json
terraform.cdktf.tfvars.json
**/terraform.cdktf.tfvars.json

.tf-cache

!setup.js